/* Contenedor de la carta */
.contenedor-carta {
  width: 300px;
  height: 400px;
  background: #f9f9f9;
  border: 2px solid #ccc;
  padding: 20px;
  position: relative;
  text-align: center;
  transition: transform 1s ease-in-out;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-carta:hover {
  transform: rotateY(10deg) rotateX(5deg);
}

/* Título */
.titulo {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Botón para abrir la carta */
#inicio button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#inicio button:hover {
  background-color: #45a049;
}

/* Contenido de la carta */
.contenido-carta {
  display: none;
}

/* Mensaje */
.mensaje {
  display: none;
  animation: aparecer 2s ease-in;
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

@keyframes aparecer {
  from { opacity: 0; }
  to { opacity: 1; }
}

#carta {
  perspective: 1000px; /* Aplicar perspectiva solo al contenedor del número */
  position: relative;
}

/* Animación 3D para el número 2025 */
.animacion-2025 {
  margin-top: 30px;
  font-size: 80px;
  font-weight: bold;
  color: #6180de;
  transform-style: preserve-3d; /* Asegura que las transformaciones 3D se apliquen */
  animation: girar 5s ease-in-out infinite, mover 2s ease-in-out forwards;
  display: inline-block;
  opacity: 0;  /* Inicia invisible */
}

@keyframes girar {
  100% {
      transform: rotateY(0deg); /* Inicia sin rotar */
  }
  100% {
      transform: rotateY(180deg); /* Gira a la mitad */
  }
  100% {
      transform: rotateY(360deg); /* Gira completamente */
  }
}

@keyframes mover {
  0% {
      transform: translateY(-100px); /* Comienza arriba */
      opacity: 0; /* Invisible al inicio */
  }
  100% {
      transform: translateY(0); /* Llega al centro */
      opacity: 1; /* Se vuelve visible */
  }
}
